.recipe-title img{
    display: block;
    margin: 1rem auto;
    height: 20rem;
}
.recipe-title a{
    text-decoration: none;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    background-color: lightgrey;
    margin-right: 1rem;
}