.ingredients{
    border: 3px black solid;
    margin: 1rem 3rem;
    padding: 1rem 2rem 2rem;
    border-radius: 10px;
}
.recipe button {
    margin: 0 0.5rem;
}
.check{
    display: inline-block;
    min-width: 45%;
}
label {
    text-transform: capitalize;
}
input:checked + label{
    text-decoration: line-through;
}
