.ingredients{
    border: 3px, black solid;
}
.recipe button {
    margin: 0 0.5rem;
}
.check{
    display: inline-block;
    min-width: 45%;
}
label {
    text-transform: capitalize;
}
input:checked + label{
    text-decoration: line-through;
}
