.header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1rem;
    min-height: 3rem;
    margin-bottom: 4rem;
}
.header button{
    margin-left: 1rem;
}
.header button + button{
    margin-right: auto;
}
.logo{
    position: absolute;
    top: 1.5rem;
    width: calc(3.5em + 12vw);
    border-radius: 10px;
    /* Needs to be improved (justify-self doesn't work) */
    margin-left: calc(100vw / 2 - (3.5em + 12vw)/2 - 1rem);
}
.media + .media {
    margin-left: 1rem;
}