.header {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1rem;
    margin-bottom: 4rem;
}
.header button{
    margin-left: 1rem;
}
.logo{
    width: calc(3.5em + 12vw);
    justify-self: center;
    border-radius: 10px;
    /* Needs to be improved (justify-self doesn't work) */
    margin: 0 auto -4rem 22rem;
}
.media + .media {
    margin-left: 1rem;
}